.playlist-header {
  display: flex;
  gap: 1em;
}

.playlist-header-thumbnail {
  flex: 1;
  max-width: 320px;
}

.playlist-header-metadata {
  flex: 2;
}

.playlist-header-thumbnail {
  height: 250px;
  min-width: 275px;
  border-radius: 6px;
  overflow: hidden;
}

.playlist-header-thumbnail img {
  object-fit: cover;
  transform: translateY(-30px);
}

.playlist-header-metadata {
  max-width: 600px;
}

.playlist-header-metadata h1 {
  font-size: 2em;
}

.playlist-header-metadata p {
  opacity: 0.9;
}

/* playlist controls styles */

.playlist-body .playlist-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.playlist-controls .playlist-action-group {
  display: flex;
  align-items: center;
  gap: .8em;
}

.playlist-controls .playlist-action-group button {
  outline: none;
  border: nones;
  cursor: pointer;
}

.playlist-controls .playlist-action-group .playlist-action-play {
  padding: 6px 12px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  transition: 500ms;
}

.playlist-controls .playlist-action-group .playlist-action-play:hover {
  background-color: #987bf4;
}

.playlist-controls .playlist-searchbar input {
  padding: 6px 16px;
  border-radius: 25px;
  width: 100%;
  border: 0;
  outline: 2px solid transparent;
  transition: 500ms;
}

.playlist-controls .playlist-searchbar input:focus {
  width: 110%;
  outline: 2px solid #987bf4;
}


.playlist-controls .playlist-action-group .playlist-action-save {
  color: white;
  background: none;
  font-size: 1.4em;
  border: 1px solid white;
  border-radius: 50%;
}


/* playlist item list styles */

.playlist-list {
  display: flex;
  flex-direction: column;
}

/* playlist item styles */

.playlist-list .playlist-item {
  display: flex;
  gap: 6px;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #ffffff41;
  padding: 6px;
  transition: 500ms;
  cursor: pointer;
}

.playlist-header-metadata-stats {
  margin-top: 16px;
  display: flex;
  gap: 1em;
}

.playlist-list .playlist-item:hover {
  background-color: #977bf44f;
}


.playlist-item .playlist-item-thumbnail {
  height: 50px;
  width: 50px;
  background-color: white;
}

.playlist-item .playlist-item-thumbnail img {
  object-fit: contain;
}

/* responsive styles */

@media screen and (max-width: 1100px) {

  .playlist-header-metadata {
    max-width: 700px;
  }
}

@media screen and (max-width: 900px) {
  .playlist-header {
    flex-wrap: wrap;
  }

  .playlist-header-metadata {
    max-width: 500px;
  }
}


@media screen and (max-width: 600px) {
  .playlist-header {
    flex-wrap: wrap;
  }
}